<!DOCTYPE html>
<html>
<head>
  <script src="static/js/application.js"></script>
  <link rel="stylesheet" type="text/css" href="static/css/loading-bar.css"/>
  <link rel="stylesheet" type="text/css" href="static/css/custom.css"/>
  <script type="text/javascript" src="static/js/loading-bar.js"></script>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
</head>
<body>

<!-- Header -->
<nav class="navbar">
  <p class="navbar-brand">
    StageFright
  </p>
</nav>

<!-- Content -->
<div class="big-container">

  <!-- Cam white spaces -->
  <div class="white-space">
    white space
  </div>

  <!-- Live bars -->
  <div class="live-bars">
    <div class="ldBar" data-value="50"></div>
    <div class="ldBar" data-value="50"></div>
    <div class="ldBar" data-value="50"></div>
  </div>
</div>

</body>
</html>