<!DOCTYPE html>
<html>
<title>Stage Fight</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="static/js/application.js"></script>
<link rel="stylesheet" type="text/css" href="ribbon.css" />
<script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
<script> zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];</script>
<!-- <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css"> -->
<link rel="stylesheet" href="./static/css/ribbon.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>

<!-- Side Navigation -->
<!-- <nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
  <h1 class="w3-xxxlarge w3-text-theme">Side Navigation</h1>
  <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <a href="#" class="w3-bar-item w3-button">Link 4</a>
</nav> -->

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader" style="background-image: url(./static/img/bg2.png);">
  <div class="w3-row-padding w3-center w3-margin-top">
      <div class="w3-third">
          <div class="w3-card w3-container" style="min-height:340px">
          <h3></h3><br>
          <img/>
      </div>
  </div>
  <div class="w3-third">
    <div class="w3-center">
      <h4></h4>
      <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="startThreads()">START</button>

      <!-- <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="stopThreads()">STOP</button> -->
      <a href="http://localhost:5000/summary" class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey">STOP</a>
      <div class="w3-card w3-container" style="min-height:240px">
        <svg preserveAspectRatio="none" id="visualizer" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>

                <mask id="mask">
                    <g id="maskGroup">
                  </g>
                </mask>
                <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0%" style="stop-color:#cce6ff;stop-opacity:1" />
                    <stop offset="20%" style="stop-color:#a366ff;stop-opacity:1" />
                    <stop offset="90%" style="stop-color:#4da6ff;stop-opacity:1" />
                    <stop offset="100%" style="stop-color:#66ffff;stop-opacity:1" />
                </linearGradient>
            </defs>
            <rect x="0" y="-2" width="30%" height="30%" fill="url(#gradient)" mask="url(#mask)"></rect>
        </svg>

        <h1>In <a href="https://codepen.io/zapplebee/full/gbNbZE/">Full Page view</a>, please allow the use of your microphone</h1>
      </div>

      <!-- <a href="http://localhost:5000/summary" class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey">STOP</a> -->
        <div class="w3-padding-32"></div>
    </div>
  </div>
  <!-- logo -->
  <div class="w3-third">
    <div class="w3-container" style="min-height:340px">
      <h3></h3><br>
      <img src="./static/img/logo2.png" width="160" height="230"/>
    </div>
  </div>
</header>

<!-- Crutch Words -->
<div class="w3-row-padding w3-center w3-margin-top">
  <div class="w3-third">
    <div class="w3-card w3-container" style="min-height:400px">
      <h3>Crutch Words</h3><br>
      <img src='./static/img/fillerwords.png' width="175" height="125"/>
      <p id='crutch'>[put the slider here]</p>
    </div>
  </div>

 <!-- Movement Analysis -->
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:400px">
    <h3>Movement Analysis</h3><br>
    <!-- <img src='./static/img/movement.png' width="175" height="125"/> -->
    <p>[put the slider here]</p>
    <div id='myChart'></div>
  </div>
</div>

<!-- WPM -->
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:400px">
    <h3>Speech Speed</h3><br>
    <img src='./static/img/speed.png' width="175" height="125"/>
    <p>[put the slider here]</p>
  </div>
</div>
</div>

<!-- Script for Sidebar, Tabs, Accordions, Progress bars and slideshows -->
<script>
function startThreads() {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            console.log(xhr.response);
        }
    }
    xhr.open('POST', 'http://localhost:5000/start');
    xhr.send();
}

// update the crutch value!!!
var element = document.getElementById("crutch");
element.innerHTML = "New Heading"; // update with value from json

// audio
window.onload = function () {
    "use strict";
    var paths = document.getElementsByTagName('path');
    var visualizer = document.getElementById('visualizer');
    var mask = visualizer.getElementById('mask');
    var h = document.getElementsByTagName('h1')[0];
    var path;
    var report = 0;

    var soundAllowed = function (stream) {
        //Audio stops listening in FF without // window.persistAudioStream = stream;
        //https://bugzilla.mozilla.org/show_bug.cgi?id=965483
        //https://support.mozilla.org/en-US/questions/984179
        window.persistAudioStream = stream;
        h.innerHTML = "Thanks";
        h.setAttribute('style', 'opacity: 0;');
        var audioContent = new AudioContext();
        var audioStream = audioContent.createMediaStreamSource( stream );
        var analyser = audioContent.createAnalyser();
        audioStream.connect(analyser);
        analyser.fftSize = 1024;

        var frequencyArray = new Uint8Array(analyser.frequencyBinCount);
        visualizer.setAttribute('viewBox', '0 0 255 255');

				//Through the frequencyArray has a length longer than 255, there seems to be no
        //significant data after this point. Not worth visualizing.
        for (var i = 0 ; i < 255; i++) {
            path = document.createElementNS('http://www.w3.org/2000/svg', 'path');
            path.setAttribute('stroke-dasharray', '4,1');
            mask.appendChild(path);
        }
        var doDraw = function () {
            requestAnimationFrame(doDraw);
            analyser.getByteFrequencyData(frequencyArray);
          	var adjustedLength;
            for (var i = 0 ; i < 255; i++) {
              	adjustedLength = Math.floor(frequencyArray[i]) - (Math.floor(frequencyArray[i]) % 5);
                paths[i].setAttribute('d', 'M '+ (i) +',255 l 0,-' + adjustedLength);
            }
        }
        doDraw();
    }

    var soundNotAllowed = function (error) {
        h.innerHTML = "You must allow your microphone.";
        console.log(error);
    }

    /*window.navigator = window.navigator || {};
    /*navigator.getUserMedia =  navigator.getUserMedia       ||
                              navigator.webkitGetUserMedia ||
                              navigator.mozGetUserMedia    ||
                              null;*/
    navigator.getUserMedia({audio:true}, soundAllowed, soundNotAllowed);

};

// GAUGE
<!-- REALTIME MOVE -->
window.feed = function(callback) {
var tick = {};
tick.plot0 = Math.ceil(0 + (Math.random() * 80)); // replace this with the realtime values
callback(JSON.stringify(tick));
};

var myConfig = {
type: "gauge",
globals: {
fontSize: 24
},
plotarea:{
marginTop:80
},
plot:{
size:'100%',
valueBox: {
  placement: 'top',
  text:'%v', //default
  fontSize:24,
  rules:[
    {
      rule: '%v >= 55',
      text: '%v<br>Too Loose!'
    },
    {
      rule: '%v <= 55 && %v > 25',
      text: '%v<br>Keep It Up!'
    },
    {
      rule: '%v < 25',
      text: '%v<br>Too Stiff!'
    }
  ]
}
},
tooltip:{
borderRadius:5
},
scaleR:{
aperture:100,
minValue:0,
maxValue:80,
step:20,
center:{
  visible:false
},
tick:{
  visible:false
},
item:{
  offsetR:0,
  rules:[
    {
      rule:'%i == 9',
      offsetX:15
    }
  ]
},
labels:['0', '20','40', '60', '80'],
ring:{
  size:40,
  rules:[
    {
      rule:'%v < 20',
      backgroundColor:'#ffff99'
    },
    {
      rule:'%v >= 20 && %v < 55',
      backgroundColor:'#ccff99'
    },
    {
      rule:'%v >= 55',
      backgroundColor:'#ff6666'
    }
  ]
}
},
refresh:{
  type:"feed",
  transport:"js",
  url:"feed()",
  interval:1500,
  resetTimeout:1000
},
series : [
{
  values : [0], // starting value
  backgroundColor:'black',
  indicator:[8,1,10,10,0.75],
  animation:{
    effect:2,
    method:1,
    sequence:4,
    speed: 900
 },
}
]
};

zingchart.render({
id : 'myChart',
data : myConfig,
height: 500,
width: '100%'
});
</script>

</body>
</html>
